.DS_Store
.idea
*.*~
*.log
cache
import_done
import_queue
settings/*.pbf
settings/*lock
BACKUP-STYLES.sql
settings/last.state.txt
settings/timestamp.txt
settings/clip/clip.cpg
settings/clip/clip.dbf
settings/clip/clip.prj
settings/clip/clip.qpj
settings/clip/clip.shp
settings/clip/clip.shx

.venv
.env

*.webm

# Geoserver
/geoserver-data/*
!/geoserver-data/workspaces
!/geoserver-data/styles

__pycache__

notebooks/.ipynb_checkpoints

